[Unit]
Description=Maximize Jetson Performance
Requires=nv.service
After=nv.service

[Service]
Restart=on-failure
RestartSec=10
ExecStart=/usr/bin/jetson_clocks

[Install]
WantedBy=multi-user.target